/* General CSS styles*/

/* This is to fix a header-nav bug in Bootstrap */
body {
    padding-top: 65px;
}

.rounded-corners {
    border-radius: 10px;
}

.semi-transparent-dark {
    background-color: rgba(0, 0, 0, 0.75);
}

.small-icon {
    height: 25px;
}