{% extends 'index.html' %}

{% block body %}
<div class="container text-center jumbotron">
    <h1>ABOUT US</h1><br>
    <div class="row text-center">
        <div class="col-lg-6">
        <h2>our mission</h2>
        <h4>
            We encourage and empower women to pursue computer science,
            and we are dedicated to building an inclusive, supportive
            community of technical women at Portland State University.
        </h4>
        </div>
        <div class="col-lg-6">
            <h2>purpose</h2>
            <h4>
                We aim to create opportunities that inspire, educate, and equip women to succeed in their educational
                and professional development in computer science and technology. We believe in working toward closing
                the gender gap in technology by creating a supportive network that will encourage women to get involved
                in events and activities that will connect them to other technical women in the field, and promote
                their education and success in computer science.
            </h4>
        </div>
    </div>
    <div class="row jumbotron">
        <h2>officers</h2>
        <div class="col-lg-4">
            <h3>Carissa Wood</h3><p class="text-muted">administrative coordinator</p>
            <p class="text-left">
                Description Here.
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h3>Casey Williams</h3><p class="text-muted">events coordinator</p>
            <p class="text-left">
                Description Here.
            </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <h3>Karis Sponsler</h3><p class="text-muted">technical coordinator</p>
            <p class="text-left">
                Description Here.
            </p>
        </div>
    </div>
</div>
{% endblock %}