{% extends 'index.html' %}
{% block body %}
<div class="container text-center jumbotron">
    <h1>ABOUT US</h1><br>
    <div class="row text-center">
        <div class="col-lg-6">
        <h2>our mission</h2>
        <h4>
            We encourage and empower women to pursue computer science,
            and we are dedicated to building an inclusive, supportive
            community of technical women at Portland State University.
        </h4>
        </div>
        <div class="col-lg-6">
            <h2>purpose</h2>
            <h4>
                We aim to create opportunities that inspire, educate, and equip women to succeed in their educational
                and professional development in computer science and technology. We believe in working toward closing
                the gender gap in technology by creating a supportive network that will encourage women to get involved
                in events and activities that will connect them to other technical women in the field, and promote
                their education and success in computer science.
            </h4>
        </div>
    </div>
    <div class="row jumbotron">
        <h2>officers</h2>
        <div class="col-lg-4">
            <img src="/static/images/caseySelfie.jpg" class="profileImage" />
            <h3>Casey Williams</h3><p class="text-muted">events coordinator</p>
            <p class="text-left">
                I'm a dual major in Computer Science and Business. I recently returned to school after working
                for three years as a web developer at a local digital agency. I work as the Computer Science
                tutor coordinator at Portland State, and my hobbies are drawing, sewing, and playing video games.
            </p>
        </div>
        <div class="col-lg-4">
            <img src="/static/images/carissaSelfie.jpg" class="profileImage" />
            <h3>Carissa Wood</h3><p class="text-muted">administrative coordinator</p>
            <p class="text-left">
                I am from the Pacific Northwest, and have a Bachelor's degree in English from Washington State
                University. I am currently working full-time as a paralegal in a workers' compensation defense
                firm, but am pursuing a degree in Computer Science because I want an intellectually stimulating
                career where I am constantly learning, problem solving, and making meaningful contributions to
                a project or team. Outside of programming, I love camping, backpacking, or being an explorer
                of the world.
            </p>
        </div>
        <div class="col-lg-4">
            <img src="/static/images/mySelfie.jpg" class="profileImage" />
            <h3>Karis Sponsler</h3><p class="text-muted">technical coordinator</p>
            <p class="text-left">
                Karis is employed by the Computer Science department as a tutor and
                specializes in web development. She is involved in LGBTQI+ advocacy
                though PFLAG Portland.
            </p>
        </div>
    </div>
</div>
{% endblock %}