{% extends 'index.html' %}

{% block body %}

    <div class="container jumbotron text-center">
        <h1>CONTACT US</h1>
        <div class="row text-left">
            <div class="col-lg-6"><p>questions about our technical projects</p></div>
            <div class="col-lg-4"><p>Karis Sponsler</p></div>
            <div class="col-md-2">
                <a href="">
                    <p>email</p>
                </a>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-lg-6"><p>questions about our events</p></div>
            <div class="col-lg-4"><p>Casey Williams</p></div>
            <div class="col-md-2">
                <a href="">
                    <p>email</p>
                </a>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-lg-6"><p>questions regarding club administration</p></div>
            <div class="col-lg-4"><p>Carissa Wood</p></div>
            <div class="col-md-2">
                <a href="">
                    <p>email</p>
                </a>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-6">
                <a class="btn btn-lg btn-primary" role="button" href="https://groups.google.com/forum/#!forum/wicspdx"
                   alt="women in computer science Google group sign up">
                    <p>sign up for our Google group</p>
                </a>
            </div>
        </div>
    </div>

{% endblock %}